
.bottomCard {
    display: flex;
    flex-direction: column;
    justify-self: space-around; 
    width: 100%;
    height: 25%;
    margin-bottom: 20px;
  }
  
  .bottomImgDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    justify-items: space-around;
  }
  
  .bottomContent {
    display: flex;
    flex-direction: column;
  }
  
  
  .bottomTitle {
    font-family: 'Diphylleia', serif;
    color: var(--footer);
    font-size: 40px;
    font-weight: lighter;
    margin-bottom: 0px;
  }
  
  .bottomDetail {
    font-family: 'Quicksand', sans-serif;
    margin-bottom: 0;
    padding-bottom: 0%;
    margin-bottom: 50px;
  }
  

  a {
    text-decoration: none;
  }
  