:root {
    --break-line: #BA2D0B;
    --head-txt: #8c8c8a;
    --name-txt: #BA2D0B;
    --header: #F8F7F3;
    --footer: #272727;
    --main-txt: #333;
    --main-bg: white;
    --alt-text: #BA2D0B;
    --alt-bg: white;
    --card-bg: #19535F;
    --card-txt: white;
    --border-radius: 50px;
  }
  
  footer {
    display: flex;
    height: 80px;
    align-items: center;
    justify-content: center;
    border-top: 1px solid var(--head-txt);
    margin-top: 5%;
    color: white;
    background-color: var(--footer);
    width: auto;
    font-family: 'Diphylleia', serif;
    ;
  }