  ul {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    background-color: white;
    color: var(--main-txt);
    font-family: 'Diphylleia', serif;
  }
  
  header {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    background-color: var(--header);
    color: var(--head-txt);
    margin-bottom: 0px;
    border-bottom: .5px solid var(--head-txt);
  
  }
  
  .headTop {
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: var(--header);
    align-content: center;
    justify-content: center;
    color: var(--main-txt);
    font-size: x-small;
    font-weight: bold;
    padding: 10px;
    border-bottom: .5px solid var(--head-txt);
    font-family: 'Quicksand', sans-serif;
  
  }
  
  .headMain {
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: white;
    margin-right: 0px;
  }
  
  .brand {
    font-family: 'Quicksand', sans-serif;
    padding-left: 15px;
    margin-right: auto;
  }
  
  li {
    display: flex;
    color: var(--main-txt)
  }
  
  li a {
    font-family: 'Diphylleia', serif;
    background-color: white;
    align-self: center;
    color: var(--head-txt);
    text-align: center;
    justify-self: right;
    padding-inline: 14px;
    padding-bottom: 5px;
    padding-top: 10px;
    text-decoration: none;
    margin-right: 20px;
  }
  
  a {
    text-decoration: none;
  }
  